
body {
	font-family: "Times New Roman" sans-serif;
	font-size: 12px;
	color: gray;
	margin: 0;
}

.wrapper {
	margin-left: 16%;
	margin-right: 16%;
	margin-top: 3%px;
	margin-bottom: 1%;
}

/*header styles*/

header {
	margin-top: 0;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 1600px){
  header{
    flex-direction: column;
    align-items: flex-start;
  }
}

.container {
	display: flex;
}

/*nav menu styles*/

.menu  {
	width: 100%;
	
}

li  {
	display: inline-block;
	text-align: center;
	list-style-type: none;
	vertical-align: top;
	font-weight: 900;
	color: #474747;
	font-size: 16px;
	margin-right: 6%;
}

.contact {
	margin-right: 0;
}

a {
	text-decoration: none;
	color: #474747;
	text-align:center;
}

 a:hover {
	background-color: #d5cdd4;
	color: #adadad; 
}

li p {
	margin-top: 5px;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 12px;
	color:#adadad;
	margin-bottom: 0;
}

.site-name  {
	color: #585858;
	font-size: 42px;
	margin-right: 20%;
	font-weight: 900;
	margin-top: 10px;
}

img:hover {
	margin-top: 5px;
}

.scrollTop {
    opacity: 0.6;
    display: block;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 2000;
}

/*style of site info*/
/*style of about us block*/
.Us {
	color:#474747;
	padding-top: 20px;
	padding-bottom:10px;
	margin-bottom: 30px;
	border-bottom: 2px solid #adadad;
}

.Us p {
	color:#adadad;
	margin-top: 0;
}

.Us h1 {
	margin-bottom: 0;
}


/* style of sidebar */
aside {
	color: #474747;
	margin-left: 70px;
	width: 25%;
	margin-top: 95px;
}

.blockName  {
	border-bottom: 2px solid #adadad;
	margin-bottom: 10px;
}

.blockName h4 {
	margin-bottom: 5px;	
}

aside a {
	color: #adadad;
}

aside p {
	margin-bottom: 0;
	margin-top: 0;
}

.ul {
	padding-left: 0;
}

.li {
    display: block;
	text-align: left;
	list-style-type: none;
	font-weight: normal;
	color: #474747;
	font-size: 16px;
	margin-right: 0;
}

li a {
	color: #474747;
}

pre {
	margin-bottom: 0;
	margin-top: 0;
}

/*style of footer*/
footer {
	width: `00%;
	border: 1px solid gray;
	background-color: #e0dddd;
	font-family: "Times New Roman" sans-serif;
	font-size: 12px;
	color: gray;
	margin: 0;
	display: flex;
}

.company {
	width: 50%;
	margin: 10px;
}

.company p {
	text-align: center;
	vertical-align: middle;
}

.author {
	width: 50%;
	margin: 10px;
}

.author p {
	text-align: center;
	vertical-align: middle;
}

* {
    box-sizing: border-box;
}


